### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file = os.path.join('Resources' , 'Pymoli_Data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file);
purchase_data.head(10) #Displaying first ten rows of the purchase data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [30]:
# obtaining a list of unique user ID's from Purchas_Data['SN']
unique_users = purchase_data['SN'].unique()

total_players = len(unique_users);
print(total_players);

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
#finding unique items
unique_items_count = len(purchase_data['Item ID'].unique());
#Avg_price of items
avg_price = purchase_data['Price'].mean();
#Purchases
Purchases = purchase_data['Purchase ID'].count();
#total_revenue
total_revenue = purchase_data['Price'].sum();
#converting to data frame
purchasing_analysis = pd.DataFrame({'Unique_Items': [unique_items_count] , 'Average_Price': [avg_price] , 'Total_Purchases': [Purchases] , 'Total_Revenue': [total_revenue]} )
purchasing_analysis

   Unique_Items  Average_Price  Total_Purchases  Total_Revenue
0           179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [32]:
#Removing duplicate users for count
gender_info = purchase_data[['SN' , 'Gender']].drop_duplicates(subset='SN');

#unique user count by gender
gender_count = gender_info['Gender'].value_counts();

#percentage by gender
gender_pct = (gender_count / 576) * 100;

#storing information in a dataframe
gender_data = {'Gender by Count': gender_count , 'Gender by Percentage': gender_pct};

gender_demographics = pd.concat(gender_data , axis = 1);
gender_demographics.head(10)

                       Gender by Count  Gender by Percentage
Male                               484             84.027778
Female                              81             14.062500
Other / Non-Disclosed               11              1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#Grouping the purchase_data dataframe by Gender
Gender_Analysis = purchase_data.groupby(['Gender']);

#Computing the average purchase price
avg_purchase = Gender_Analysis['Price'].mean();

#Computing total purchase value
Total_Purchase_value = Gender_Analysis['Price'].sum()

#Computing average purchase total per person
avg_per_person = Total_Purchase_value / gender_count

#Purchase Count
gender_purchase = Gender_Analysis['Purchase ID'].count();

#concatenating the series into a summary data frame
gender_dict = {'Purchase_Count': gender_purchase , 'Average_Purchase_Price': avg_purchase , 'Total_Purchase_Value': Total_Purchase_value , 'Avg Total Purchase per Person': avg_per_person};

gender_summary = pd.concat(gender_dict , axis=1);

gender_summary

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
#determining min and max values for age in purchase_data
max_age = purchase_data['Age'].max(); #oldest player is 45
min_age = purchase_data['Age'].min(); #youngest player is 7

#Creating bins in intervals of 5 years
age_bin = [0,10,15,20,25,30,35,40,100];
age_groups = ['<10' , '10-14' , '15-19' , '20-24' , '25-29' , '30-34' , '35-39' , '40+'];


#Adding bin categories to purchase_data
purchase_data['Age_Group'] = pd.cut(purchase_data['Age'] , age_bin , labels= age_groups , include_lowest= True,right=False);

#dropping duplicate user values
age_info = purchase_data[['Age_Group' , 'SN']].drop_duplicates(subset='SN');

#Obtaining count of players for each bin
age_group_count = age_info['Age_Group'].value_counts()

#Computing percentage by age group
age_group_pct = (age_group_count / total_players) *100;

#defining data structure
age_group_dict = {'Age_Group': age_group_count , 'Age_Group_Pct': age_group_pct};

#Aggregating data into dataframe
age_group_df = pd.concat(age_group_dict , axis=1);
age_group_df

       Age_Group  Age_Group_Pct
20-24        258      44.791667
15-19        107      18.576389
25-29         77      13.368056
30-34         52       9.027778
35-39         31       5.381944
10-14         22       3.819444
<10           17       2.951389
40+           12       2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
#Group purchase_data by 'Age_Group'
age_analysis = purchase_data.groupby(['Age_Group']);

#Purchase count by age
age_purchase_count = age_analysis['Purchase ID'].count();

#Average Purchase Price
age_avg_purchase_price = age_analysis['Price'].mean();

#Total Purchase Value
age_total_purchase_value = age_analysis['Price'].sum();

#Average Total Purchase per Person
age_avg_per_person = age_total_purchase_value / age_group_count

#defining data structure
age_analysis_dict = {'Purchase_Count': age_purchase_count , 'Average_Purchase_Price': age_avg_purchase_price , 'Total_Purchase_Value':age_total_purchase_value , 'Average_Total_Purchase_Per_Person': age_avg_per_person};

#Generating summary data frame
age_summary_df = pd.concat(age_analysis_dict , axis=1);
age_summary_df

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value,Average_Total_Purchase_Per_Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80